<div [class]="'daily-weather ' + tempClass">
    <span *ngIf="!container" class="na-display">N/A</span>
    <h2  *ngIf="container" class="when-display">{{ container.getWhen() }}</h2>
    <div *ngIf="container" class="temp-display">
        <span>
            {{ getWeather().main.temp | convertTemp: getUnit() }}
        </span>
    </div>
    <div *ngIf="container" class="weather-display">
        <img class="weather-img" id="weather-icon" [src]="getIcon().src" [alt]="getIcon().alt">
        <span class="weather-desc" for="weather-icon">{{ getIcon().alt }}</span>
        <div class="rain-display">
            <i *ngFor="let prec of precArray" class="wi" [ngClass]="getPrecClass(prec)"></i>
        </div>
    </div>
</div>