@import 'src/assets/global.scss';

$width: 350px;
$height: 175px;
$wether-display-width: 100px;

.daily-weather {
    position: relative;
    width: $width;
    height: $height;
    text-align: center;
    color: black;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);

    >.na-display {
        width: $width;
        line-height: $height;
        font-size: 10em;
        margin: 0;
    }

    >.when-display {
        position: absolute;
        top: -10px;
        width: 100%;
    }

    >.temp-display {
        position: absolute;
        font-size: 7em;
        line-height: $height;
        left: 8%;
    }

    >.weather-display {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 6%;
        right: 10%;
        width: $wether-display-width;

        >.weather-img {
            width: 100%;
        }

        >.weather-desc {
            width: 100%;
            margin-top: -20px;
            text-align: center;
            font-size: 1.2em;
            overflow-wrap: break-word;
        }

        >.rain-display {
            display: flex;
            justify-content: space-around;
            width: 100%;
            margin-top: 10px;
            
            >.wi-raindrop {
                color: black;
            }

            >.wi-snowflake-cold {
                color: white;
            }
    
            >.empty {
                opacity: 0.3;
            }
        }
    }
}


@media screen and (min-width: $break-small) {
    $width: 500px;
    $height: 300px;

    .daily-weather {
        width: $width;
        height: $height;

        >.na-display {
            width: $width;
            line-height: $height;
            font-size: 12em;
        }

        >.when-display {
            top: 0;
        }
    
        >.temp-display {
            font-size: 10em;
            line-height: $height;
            left: 8%;
        }
    
        >.weather-display {
            top: 20%;
    
            >.weather-desc {
                margin-top: -5px;
                font-size: 1.5em;
            }

            >.rain-display {
                margin-top: 30px;
            }
        }
    }
}