@import 'src/assets/global.scss';

$background: hsl(207, 66%, 53%);
$width: 350px;
$height: 175px;

.daily-weather {
    position: relative;
    width: $width;
    height: $height;
    background-color: $background;

    >.na-display {
        width: $width;
        line-height: $height;
        font-size: 12em;
        margin: 0;
    }

    >.when-display {
        position: absolute;
        top: 0;
        width: 100%;
    }

    >.temp-display {
        position: absolute;
        font-size: 12em;
        line-height: $height;
        left: 5%;
    }

    >.weather-display {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 10%;
        right: 10%;

        >.weather-img {
            width: 100px;
        }

        >.weather-desc {
            text-align: center;
        }

        >.rain-display {
            display: flex;
            justify-content: space-around;
            width: 100%;
            margin-top: 30px;
            
            >.wi-raindrop {
                color: black;
            }

            >.wi-snowflake-cold {
                color: white;
            }
    
            >.empty {
                opacity: 0.3;
            }
        }
    }
}


@media screen and (min-width: $break-small) {
    $width: 500px;
    $height: 300px;
    $wether-display-width: 100px;

    .daily-weather {
        width: $width;
        height: $height;

        >.na-display {
            width: $width;
            line-height: $height;
            font-size: 12em;
            margin: 0;
        }

        >.when-display {
            position: absolute;
            top: 0;
            width: 100%;
        }
    
        >.temp-display {
            position: absolute;
            font-size: 12em;
            line-height: $height;
            left: 5%;
        }
    
        >.weather-display {
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 20%;
            right: 10%;
            width: $wether-display-width;
            // border: 1px solid red;
    
            >.weather-img {
                width: 100%;
            }
    
            >.weather-desc {
                width: 100%;
                text-align: center;
                font-size: 1.5em;
                overflow-wrap: break-word;
            }
        }
    }
}