@import 'src/assets/global.scss';

$height: 1.5em;
$width: $height*1.76;
$background: $neutral-color;
$font-color: black;

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: $width;
    height: $height;

    /* Hide default HTML checkbox */
    >input {
      opacity: 0;
      width: 0;
      height: 0;

      &:checked + .slider>.before {
          -webkit-transform: translateX($height*0.76);
          -ms-transform: translateX($height*0.76);
          transform: translateX($height*0.76);
      }
    }

    /* Rounded sliders */
    .round-corners {
        border-radius: $height*0.5;
    }

    /* The slider */
    >.slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        >.options {
            display: flex;
            align-items: center;
            height: 100%;

            >p {
                color: $font-color;
                font-size: 1em;
                text-align: center;
                flex-grow: 1;
            }
        }

        >.before {
            position: absolute;
            content: "";
            height: $height*0.76;
            width: $height*0.76;
            left: $height*0.12;
            bottom: $height*0.12;
            -webkit-transition: .4s;
            transition: .4s;
        }
    }
}

@media screen and (min-width: $break-small) {
    $height: 2em;
    $width: $height*1.76;

    /* The switch - the box around the slider */
    .switch {
        width: $width;
        height: $height;
    
        /* Hide default HTML checkbox */
        >input {
    
          &:checked + .slider>.before {
              -webkit-transform: translateX($height*0.76);
              -ms-transform: translateX($height*0.76);
              transform: translateX($height*0.76);
          }
        }
    
        /* Rounded sliders */
        .round-corners {
            border-radius: $height*0.5;
        }
    
        /* The slider */
        >.slider {
    
            >.options {
    
                >p {
                    font-size: 1.2em;
                }
            }
    
            >.before {
                height: $height*0.76;
                width: $height*0.76;
                left: $height*0.12;
                bottom: $height*0.12;
            }
        }
    }
}

@media screen and (min-width: $break-medium) {
    $height: 2.5em;
    $width: $height*1.76;

    /* The switch - the box around the slider */
    .switch {
        width: $width;
        height: $height;
    
        /* Hide default HTML checkbox */
        >input {
    
          &:checked + .slider>.before {
              -webkit-transform: translateX($height*0.76);
              -ms-transform: translateX($height*0.76);
              transform: translateX($height*0.76);
          }
        }
    
        /* Rounded sliders */
        .round-corners {
            border-radius: $height*0.5;
        }
    
        /* The slider */
        >.slider {
    
            >.options {
    
                >p {
                    font-size: 1.5em;
                }
            }
    
            >.before {
                height: $height*0.76;
                width: $height*0.76;
                left: $height*0.12;
                bottom: $height*0.12;
            }
        }
    }
}