@import 'src/assets/global.scss';

.navbar-wrapper {
    display: grid;
    grid-template-columns: 25% 55% 20%;
    justify-items: stretch;
    align-items: center;
    width: 100%;
    height: 100%;
    color: black;

    >.navbar-item {
        text-align: center;
        height: 1.5em;

        >.title {
            font-size: 1.2em;
            line-height: 100%;
        }
    
        >.location {
            font-size: 1em;
        }

        &.switch {
            justify-self: right;
            margin-right: 10%;
        }
    }
}

@media screen and (min-width: $break-small) {

    .navbar-wrapper >.navbar-item {
        height: 2em;

        .title {
            font-size: 1.5em;
        }
    
        .location {
            font-size: 1.2em;
        }
    }
}

@media screen and (min-width: $break-big) {

    .navbar-wrapper >.navbar-item {
        height: 2.5em;

        .title {
            font-size: 2em;
        }
    
        .location {
            font-size: 1.5em;
        }
    }
}