@import 'src/assets/global.scss';

.navbar-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    // background-color: darken($temp-color, 15%);
    width: 100%;
    height: 100%;
    color: black;

    >.title {
        font-size: 1.5em;
    }

    >.location {
        font-size: 1.2em;
    }
}

@media screen and (min-width: $break-small) {

    >.title {
        font-size: 2em;
    }

    >.location {
        font-size: 1.5em;
    }
}