<div [class]="'wrapper-wrapper ' + tempClass">
    <div class="grid">
        <form class="search-bar-wrapper">
            <input type="text" [formControl]="location">
        </form>
        <div (click)="onGeolocation()">
            <fa-icon [icon]="faCrosshairs"></fa-icon>
        </div>
        <p
        *ngFor="let result of searchResults?.results; let i = index"
        [ngClass]="selected === i ? selectedClass : ''"
        (mouseover)="onHover(i)" (click)="onClick(i)">
            {{result.city.name}},{{result.city.country}}
        </p>
    </div>
</div>