<form class="search-bar-wrapper">
    <div [class]="'search-bar-item input-wrapper ' + tempClass + (showResults ? ' show' : '')">
        <weathery-search-results 
        [class]="tempClass + (showResults ? ' show' : '')" 
        [search]="searchResults"
        (selected)="onResultSelected($event?.id)"></weathery-search-results>
        <input type="text" [formControl]="location">
    </div>
    <div class="search-bar-item">
        <label (click)="onGeolocation()">
            <fa-icon [icon]="faCrosshairs"></fa-icon>
        </label>
    </div>
</form>