$break-small: 400px;
$break-medium: 600px;
$break-big: 800px;
$cold-color: #0f83de;
$midl-color: #eee;
$heat-color: #e37f09;
$neutral-color: #ccc;

@function temp-gradient($index) {
    @if $index < 50% {
        @return mix($midl-color, $cold-color, $weight: 2*$index);
    } @else {
        @return mix($heat-color, $midl-color, $weight: 2*($index - 50%));
    }
}