@import 'src/assets/global.scss';

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

@for $i from 0 through 100 {
    $percent: percentage($i/100);
    $base: temp-gradient($percent);

    .temp-color-#{$i} {
        background-color: $base;
        color: $base;
        -webkit-transition: 1s;
        transition: 1s;
    }

    .temp-color-#{$i}-dark {
        background-color: scale-color($base, $lightness: -15%);
        color: $base;
    }

    .temp-color-#{$i}-light {
        background-color: scale-color($base, $lightness: 15%);
        color: $base;
    }
}